<!DOCTYPE html>
<html>
  <head>
    <title>@ViewBag.Title</title>
    <style>
      table {
        font-family: monospace;
        margin: 1em 0;
        white-space: pre;
      }
      td + td {
        padding-left: 3ch;
      }
    </style>
  </head>
  <body>
    @RenderBody()
  </body>
</html>